<div class="home">
    <%= render partial: "users/user", users: @users%>
    <% @posts.each do |post| %>
    <div class="posts-of-user">
        <div class="posts">
            <a href="<%= user_post_path(post.author_id,post.id) %>" class="post-details">
                <h2 class="post-id">Post #<%= post.id %></h2>
                <div class="posts-reactions">
                    <p class="posts-text"><%= post.text %><p>
                    <div class="reactions">
                        <span>Comments: <%= post.comments.count %></span>
                        <span>Likes: <%= post.likes.count %></span>
                    </div>
                </div>
            </a>
        </div>
        <ul>
        <% unless post.comments.any? %>
            <h2 class="no-comments">There are no comments to show.</h2>
        <% end %>
        <% post.recent_five_comments.each do |comment| %>
            <li>
            <p><%= User.find(comment.user_id).name %>:</p>
            <p><%= comment.text %></p>
            </li>
        <% end %>
        </ul>
        <% end %>
    </div>
    <button class="button">
        <a class="button-content">Pagination</a>
    </button>
</div>








